.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Makes it circular */
    object-fit: cover;
    /* Ensures the image is properly cropped */
}