        .card {
            border-radius: 30px;
            background-color: white;
            box-shadow: 5px 5px 5px hsl(0, 0% 0%, 0.1);
            padding: 20px;
            margin: 20px;
            text-align: left;
            width: 250px;
            max-width: 500px;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            /*this is to prevent the text from wrapping */
            transition: width 0.3s ease-in-out;
        }
        
        .card :hover {}