.navbar {
    display: flex;
    /*display: flex; on .navbar → Aligns all items horizontally.*/
    align-items: center;
    /* Align items vertically */
    justify-content: space-between;
    /* Moves logo to the left and links to the right */
    padding-bottom: 10px;
    /* Adds some spacing */
    /* Adjust the background color as needed */
    margin: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    /*this prevents the padding will affect the*/
}

.rightSide {
    display: flex;
    gap: 20px;
    margin-right: 28px;
    /* Spaces out the navigation links */
}

.rightSide a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rightSide a:hover {
    color: cadetblue;
}

.navbar-title {
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 28px;
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

.decorations {
    font-size: 30px;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.birthday {
    text-align: left;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', sans-serif;
}

.education {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}